.random-planet .planet-image {
  width: 160px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
}

.random-planet .random-planet-body {
  padding: 6px 0 0 16px;
}

.random-planet h4 {
  font-size: 24px;
  line-height: 1.4;
}

.random-planet .list-group {
  padding-left: 20px;
}

.random-planet .list-group .list-group-item {
  padding: 6px 0;
}

.random-planet .list-group .term {
  padding: 0 6px 0 0;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.random-planet .list-group .term:after {
  content: ':';
}