.item-details {
  flex-direction: row;
}

.item-details .item-image {
  width: 40%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.25rem;
}

.item-details .card-body {
  width: 60%;
  padding: 0 0 0 16px;
}

.item-details .card-body {
  padding-top: 16px;
}

.item-details .card-body h4 {
  font-size: 20px;
  line-height: 1.4;
}

.item-details .card-body-list {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
  font-size: 14px;
  line-height: 1.4;
}

.item-details .card-body-list li {
  padding: 6px 0;
}

.item-details .card-body-list li:first-child {
  padding-top: 0;
}

.item-details .card-body-list .term {
  padding-right: 6px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.item-details .card-body-list .term:after {
  content: ': ';
}